{% extends 'base.html' %}
{% block title %}À propos de nous{% endblock %}
{% block content %}
<!-- Hero Section -->
<section class="container py-3 text-center">
    <div>
        <h1>À propos de nous</h1>
        <p class="lead">Bienvenue sur notre boutique en ligne ! Nous sommes ravis de vous offrir une expérience d'achat en ligne unique, où vous pouvez trouver une variété de produits de haute qualité à des prix compétitifs.</p>
    </div>
</section>

<!-- Mission Section -->
<section class="container py-3">
    <div>
        <h3>Notre mission</h3>
        <p>Notre mission est de fournir à nos clients une sélection soigneusement choisie de produits qui répondent à leurs besoins et attentes. Nous nous efforçons de vous offrir un service exceptionnel et de vous satisfaire pleinement.</p>
    </div>
</section>

<!-- Valeurs Section -->
<section class="container py-5">
    <div>
        <h3>Nos valeurs</h3>
        <ul class="list-group">
            <li class="list-group-item">Qualité : Nous nous engageons à vous offrir des produits de la meilleure qualité.</li>
            <li class="list-group-item">Service Client : Votre satisfaction est notre priorité absolue.</li>
            <li class="list-group-item">Intégrité : Nous croyons en l'honnêteté et la transparence dans toutes nos interactions.</li>
        </ul>
    </div>
</section>

<!-- Équipe Section -->
<section class="container py-3">
    <div>
        <h3>Notre équipe</h3>
        <p>Nous sommes une équipe passionnée de professionnels dédiés à vous offrir le meilleur service possible. Nous travaillons sans relâche pour nous assurer que chaque client a une expérience d'achat positive avec nous.</p>
    </div>
</section>

<!-- Contact Section -->
<section class="container py-3">
    <div>
        <h3>Contactez-nous</h3>
        <p>Si vous avez des questions ou des préoccupations, n'hésitez pas à <a href="{{ url_for('main.contact') }}" class="btn btn-link">nous contacter</a>. Nous sommes là pour vous aider !</p>
    </div>
</section>
{% endblock %}
